/* Hero Section */
.hero {
    background-color: var(--hero-bg-color);
    padding: 3rem 0;
    text-align: center;
  }
  
  .hero-text h1 {
    font-size: 36px;
    margin-bottom: 1rem;
    color: #fff;

  }
  
  .hero-text p {
    font-size: 20px;
    margin-bottom: 2rem;
    color: #fff;


  }
  
  .hero-buttons .btn-primary,
  .hero-buttons .btn-secondary {
    padding: 0.75rem 1.5rem;
    font-size: 18px;
    border-radius: 5px;
  }
  
  .hero-buttons .btn-primary {
    background-color: #fff;
    color: #0046be;
    margin-right: 1rem;
  }
  
  .hero-buttons .btn-secondary {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
  }
  
  /* Features Section */
  .features {
    display: flex;
    justify-content: space-around;
    padding: 3rem 0;
  }
  
  .features .feature {
    text-align: center;
  }
  
  .features .feature h3 {
    font-size: 24px;
    margin-bottom: 1rem;

  }
  
  .features .feature p {
    font-size: 16px;

  }
  
  /* Testimonials Section */
  .testimonials {

    padding: 3rem 0;
    text-align: center;
  }
  
  .testimonials h2 {
    font-size: 24px;
    margin-bottom: 2rem;

  }
  
  .testimonials .testimonial p {
    font-size: 16px;
    margin-bottom: 1rem;

  }
  