.business-profile {

    margin: 0 auto;
    padding: 1rem;
    font-size: 16px;
}

.info-container {
    margin-top: .25rem;
    display: inline-flex;
    align-items: baseline;
}

.create-new-link {
    font-size: 12px;
    text-decoration: none;

}

.link-button {
    display: inline-block;
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 12px 12px;
    font-size: 1.17rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.link-button:hover {
    background-color: var(--bg-color);

}


.container {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.business-info {

    display: flex;
    flex-direction: column;
}

.business-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-info label {
    font-weight: bold;
    margin-right: 5px;
}

.contact-info p {
    margin-bottom: 10px;
}

.reviews-ratings {
    margin-top: 1rem;
}

.top {
    display: flex;

    align-items: center;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.edit-button,
.delete-button {
    padding: 8px 12px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}


.delete-button:hover {
    background-color: #d32f2f;
}

.join-waitlist-button {


    padding: 8px 12px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    margin-left: 1rem;
    cursor: pointer;
}


.waitlist-form-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}