/* Footer */
footer {

  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e0e4e8;
  padding: 1rem 2rem;
  background-color: var(--bg-color);
  position: fixed;
  bottom: 0;
  width: 100%;

}

footer .footer-logo h4 {

  font-size: 24px;
}

footer .footer-links a {

  font-size: 18px;
  margin-left: 1rem;
}

.footer-theme-switch {
  position: absolute;
  top: 5px;
  right: 10px;
}


.logo-link {
  position: relative;
  display: inline-block;
}

.logo-container {
  position: relative;
}

.logo-img {
  display: block;
  width: 50px;
  height: 50px;
}

.logo-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(10%, -40%);

  /* Adjust as needed */
  font-weight: bold;
  /* Adjust as needed */
  font-size: 24px;
  /* Adjust as needed */

}