/* Header */
header {

  padding: 1rem 0;
  border-bottom: 1px solid #e0e4e8;
}



header .logo a {
  font-size: 24px;
  font-weight: bold;

}

.logo-link {
  position: relative;
  display: inline-block;
}

.logo-container {
  position: relative;
}

.logo-img {
  display: block;
  width: 50px;
  height: 50px;
}

.logo-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(10%, -40%);

  /* Adjust as needed */
  font-weight: bold;
  /* Adjust as needed */
  font-size: 24px;
  /* Adjust as needed */
  
}



header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

header .nav-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

header .nav-links li {
  display: inline;
}

header .nav-links a {
  font-size: 18px;
}

.header-profile-image {
  width: 40px;
  height: 40px;
  object-fit: cover;
  /* This ensures that the image maintains its aspect ratio */
  border-radius: 50%;
  cursor: pointer;
}


.profile-dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;

  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  z-index: 10;
}

.dropdown-menu a {
  text-decoration: none;

  padding: 5px 10px;
}