/* ResetPassword.css */

.reset-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.reset-password-form {
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

}

.reset-password-form .form-title {
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
}

.reset-password-form .form-group {
    margin-bottom: 15px;
}

.reset-password-form label {
    display: block;
    margin-bottom: 5px;
}

.reset-password-form .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 3px;
    font-size: 16px;
}

.reset-password-form .submit-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    color: white;
    background-color: #007bff;
    font-size: 16px;
    cursor: pointer;
}

.reset-password-form .submit-button:hover {
    background-color: #0069d9;
}