.terms-and-conditions-container {
    width: 80%;
    margin: 0 auto;
    padding: 2rem 0;
    font-family: Arial, sans-serif;
}

.terms-and-conditions-container h1 {
    font-size: 2rem;
    text-align: center;

    margin-bottom: 2rem;
}

.terms-and-conditions-content h2 {
    font-size: 1.5rem;
    margin: 1.5rem 0;

}

.terms-and-conditions-content p {
    font-size: 1rem;
    line-height: 1.5;

}